<h3>Room View</h3>
<div>Name: {{room.name}}</div>

<h4>Doors</h4>
<div>Count: {{room.doors.getCount()}}</div>
<div>EntryDoor: {{room.doors.entryDoor}}</div>
<ul>
  <li>
    <span>North: </span>
    <input type="button" *ngIf="room.doors.north" (click)="doorClick(direction.SOUTH)" value="enter" />
    <span *ngIf="!room.doors.north" >---</span>
  </li>
  <li>
    <span>South: </span>
    <input type="button" *ngIf="room.doors.south" (click)="doorClick(direction.NORTH)" value="enter" />
    <span *ngIf="!room.doors.south" >---</span>
  </li>
  <li>
    <span>East: </span>
    <input type="button" *ngIf="room.doors.east" (click)="doorClick(direction.WEST)" value="enter" />
    <span *ngIf="!room.doors.east" >---</span>
  </li>
  <li>
    <span>West: </span>
    <input type="button" *ngIf="room.doors.west" (click)="doorClick(direction.EAST)" value="enter" />
    <span *ngIf="!room.doors.west" >---</span>
  </li>
</ul>